@media (max-width:1440px){
   
}
@media (max-width:1220px){
    .menu-items{
        display: block !important;
    .dropdown.show {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        left: auto;
        margin: 0;
        background-color: #f5f5f5;
    }
    .dropdown .dropdown-submenu{
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        left: auto;
        background-color: #ececec;
    }
    
}
.dropdown-submenu a, .dropdown-submenu button{
    font-size: 12px;
    padding: 0.37rem 1rem;
}
}
@media (max-width:1024px){
   
}
@media (max-width:991px){
   
}
@media (max-width:767px){
   
}